<div>
    <form action="?page=category&method=add" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Nome</label>
            <input class="form-control" id="name" name="name" type="text" placeholder="Nome">
        </div>

        <div class="form-group">
            <label for="codigo">Código</label>
            <input class="form-control" id="codigo" name="codigo" type="text" placeholder="Código de categoria" >
        </div>
            <br/>
            <button type="submit" class="btn btn-primary">Adicionar</button>
            <a href="?page=category" type="button" role="button">Voltar</a>
    </form>
</div>